<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>XSS Message Board</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<style type="text/css">
    
.message-board {
    position: relative;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    resize: none;
    margin-bottom: 20px;
}
.center {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 200px;
}
.center > h4 {
    text-align: center;
}
.title {
    position: relative;
    height: 100px;
    text-align: center;
    padding: 20px;
}


</style>
</head>
<body>
<div class="title">
    <h1>Message Board</h1>
</div>
<div class="center">
    <textarea class="form-control message-board" rows="5" autofocus wrap="soft"></textarea>
    <button id="submit_message" class="btn btn-success col-lg-offset-6" >submit</button>
</div>

<div class="col-lg-6 col-lg-offset-3">
    {% for message in messages %}
    <div>
        <span class="label label-info">date: {{ message.date }}</span>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ message.content | safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function(){
$('#submit_message').click(function(){
    var text = $('.message-board').val()
    $.ajax({
        url:'/board/leave-message',
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({'message': text}), 
        success: function(data) { console.log(data) }
    })
})
})
</script>
</body>
</html>