<!DOCTYPE html>
<html>
<head>
<title>Injection Tutorial</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style type="text/css">
    
.center {
   position: relative;
   text-align: center; 
}
.list {
    top: 80px;
    position: relative;
    /*width: 600px;*/
    left: 50%;
    margin-left: -25%;
    text-align: center;
}
.title {
    position: relative;
    height: 60px;
    white-space: nowrap;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
</style>
</head>
<body>
<div class="center">
    <div class="title">
        <h1>Welcome to Web Safety Tutorial</h1>
    </div>
    <div class="list col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ul class="list-group">
          <a href="/xss/tutorial/"><li class="list-group-item"><span class="badge">1</span>XSS Tutorial</li></a>
        </ul>
        <ul class="list-group">
          <a href="/xss/script/"><li class="list-group-item"><span class="badge">2</span>Reflict Type XSS</li></a>
        </ul>
        <ul class="list-group">
          <a href="/board/"><li class="list-group-item"><span class="badge">1</span>Storage Type XSS</li></a>
        </ul>
    </div>
</div>
</body>
</html>